{% extends "base.html" %}
{% block title %}{{ student.display_name }} - Caseload{% endblock %}
{% block page_title %}Student Profile{% endblock %}
{% block content %}

{% include "caseload/_partials/_profile_header.html" %}

{% include "caseload/_partials/_college_career_summary.html" %}

{% include "caseload/_partials/_transcript_analysis.html" %}

{% include "caseload/_partials/_workflow_cards.html" %}

{% include "caseload/_partials/_recent_notes.html" %}

{% include "caseload/_partials/_ai_insights.html" %}

{% include "caseload/_partials/_ai_course_recs.html" %}

{% include "caseload/_partials/_remove_student_modal.html" %}

{% endblock %}
